{{#if fav}}
<div class="container">
    {{#each fav}}
    <div class="card">
        <div onclick="loadPage('/cartlist/{{this._id}}');" class="imgContainer">
            <img src="/images/products/{{this.item}}/0.jpeg" alt="{{this.title}} - Basket">
            <img src="/images/products/{{this.item}}/1.jpeg">
        </div>
        <div class="infoBox">
            <div class="rating">

            </div>
            <div onclick="loadPage('/cartlist/{{this._id}}');" class="title">
                {{this.product.title}}
            </div>
            <div onclick="loadPage('/cartlist/{{this._id}}');" class="price">
                {{#if this.product.old_price}}
                <span class="p_price">&#x20B9;{{this.product.price}}</span>&nbsp;<span
                    class="old_price">&#x20B9;{{this.product.old_price}}</span>
                {{else}}
                <span class="p_price">&#x20B9;{{this.product.price}}</span>
                {{/if}}
            </div>
            <div class="delivery">
                <span>Shipping charge: &#x20B9;{{this.product.delivery_charge}}</span>
            </div>
            <div class="buttonGroup">
                <button onclick="loadPage('/removefav/{{this.product._id}}')" class="buy">
                    <box-icon type='solid' name='heart' color="#ff9f00"></box-icon>
                </button>
            </div>
        </div>
    </div>
    {{/each}}
    <br><br><br><br>
</div>
{{else}}
<div class="container" style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100vh;">
    <span>Cart is Empty.</span>
</div>
{{/if}}